<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChatBubbleAttributes</key>
	<dict>
		<key>MessageInfoLabelFont</key>
		<string></string>
		<key>MessageInfoLabelSize</key>
		<string></string>
		<key>MessageInfoLabelColor</key>
		<string>121,121,121,1.0</string>
		<key>LeftChatBubbleAttributes</key>
		<dict>
			<key>BackgroundColor</key>
			<string>255,255,255,1.0</string>
			<key>TextColor</key>
			<string>121,121,121,1.0</string>
			<key>TextFont</key>
			<string></string>
			<key>TextSize</key>
			<string></string>
		</dict>
		<key>RightChatBubbleAttributes</key>
		<dict>
			<key>BackgroundColor</key>
			<string>227,49,36,1.0</string>
			<key>TextColor</key>
			<string>255,255,255,1.0</string>
			<key>TextFont</key>
			<string></string>
			<key>TextSize</key>
			<string></string>
		</dict>
	</dict>
	<key>BackgroundColor</key>
	<string>245,240,236,1.0</string>
	<key>BackgroundImageName</key>
	<string>nil</string>
	<key>NavigationBar</key>
	<dict>
		<key>BackgroundImage</key>
		<string>nil</string>
		<key>BackgroundColor</key>
		<string>227,49,36,1.0</string>
		<key>TitleFont</key>
		<string>Helvetica</string>
		<key>TitleFontSize</key>
		<string>17</string>
		<key>TitleFontColor</key>
		<string>255,255,255,1.0</string>
		<key>ButtonTintColor</key>
		<string>255,255,255,1.0</string>
	</dict>
	<key>TableView</key>
	<dict>
		<key>BackgroundColor</key>
		<string>0,0,0,0</string>
		<key>SeparatorColor</key>
		<string>245,245,245,1.0</string>
		<key>CellBackgroundColor</key>
		<string>255,255,255,1.0</string>
		<key>HeadingFont</key>
		<string>Avenir</string>
		<key>HeadingSize</key>
		<string>12</string>
		<key>HeadingColor</key>
		<string>175,169,160,1.0</string>
		<key>HeaderBackgroundColor</key>
		<string>0,0,0,0</string>
	</dict>
	<key>LabelAttributes</key>
	<dict>
		<key>BackgroundColor</key>
		<string>0,0,0,0</string>
		<key>LabelSize</key>
		<string>15</string>
		<key>LabelFont</key>
		<string>Helvetica-Thin</string>
		<key>LabelColor</key>
		<string>121,121,121,1.0</string>
	</dict>
	<key>ButtonAttributes</key>
	<dict>
		<key>TitleSize</key>
		<string>14</string>
		<key>TitleColor</key>
		<string>255,255,255,1.0</string>
		<key>TitleFont</key>
		<string>Helvetica-Bold</string>
		<key>BackgroundColor</key>
		<string>0,0,0,0</string>
	</dict>
	<key>TextViewAttributes</key>
	<dict>
		<key>BackgroundColor</key>
		<string>255,255,255,1.0</string>
		<key>TextViewFont</key>
		<string>Helvetica</string>
		<key>TextViewSize</key>
		<string>14</string>
		<key>TextViewColor</key>
		<string>0,0,0,1.0</string>
	</dict>
</dict>
</plist>
