<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundColor</key>
	<string>100.0,100.0,100.0,1.0</string>
	<key>TextViewAttributes</key>
	<dict>
		<key>TextFont</key>
		<string>Helvetica</string>
		<key>TextSize</key>
		<string>14</string>
		<key>TextColor</key>
		<string>255.0,255.0,255.0,1.0</string>
	</dict>
	<key>ButtonAttributes</key>
	<dict>
		<key>TitleSize</key>
		<string>14</string>
		<key>TitleColor</key>
		<string>0,0,0,1.0</string>
		<key>TitleFont</key>
		<string>Helvetica-Bold</string>
		<key>BackgroundColor</key>
		<string>0,0,0,0</string>
	</dict>
	<key>LabelAttributes</key>
	<dict>
		<key>BackgroundColor</key>
		<string>0,0,0,0</string>
		<key>LabelSize</key>
		<string>15</string>
		<key>LabelFont</key>
		<string>Helvetica</string>
		<key>LabelColor</key>
		<string>255.0,255.0,255.0,1.0</string>
	</dict>
	<key>TableView</key>
	<dict>
		<key>SeparatorColor</key>
		<string>177.0,177.0,177.0,0</string>
		<key>CellBackgroundColor</key>
		<string>60.0,60.0,60.0,1.0</string>
		<key>HeadingFont</key>
		<string>Helvetica-Bold</string>
		<key>HeadingSize</key>
		<string>12</string>
		<key>HeadingColor</key>
		<string>255.0,255.0,255.0,1.0</string>
		<key>HeaderBackgroundColor</key>
		<string>34.0,140.0,209.0,1.0</string>
	</dict>
	<key>NavigationBar</key>
	<dict>
		<key>BackgroundColor</key>
		<string>224.0f,224.0f,224.0f,1.0</string>
		<key>TitleFont</key>
		<string>Helvetica</string>
		<key>TitleFontSize</key>
		<string>17</string>
		<key>TitleFontColor</key>
		<string>0,0,0,1</string>
		<key>ButtonTintColor</key>
		<string>37.0,159.0,218.0,1.0</string>
	</dict>
</dict>
</plist>
